* {
  box-sizing: border-box;
  /* padding and border are included in total width/height of all elements */
  margin: 0px;
}

body {
  background-color: black;
  color: white;
}

#webPage {
  background-color: #121212;
  color: white;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#webPage header, #webPage main, #webPage footer {
  padding: 1em;
}
#webPage header {
  background-color: #343434;
}
#webPage main {
  flex: 1;
  /* to fill space between header and footer */
  background-color: #121212;
}
#webPage footer {
  background-color: #232323;
}

#view1 {
  height: 100%;
}
#view1 h2, #view1 p {
  color: #c8250e;
}
#view1 hr {
  border-color: #c8250e;
}

#view2 {
  height: 100%;
}
#view2 h2, #view2 p {
  color: #5fa638;
}
#view2 hr {
  border-color: #5fa638;
}

#view3 {
  height: 100%;
}
#view3 h2, #view3 p {
  color: #7cc9ff;
}
#view3 hr {
  border-color: #7cc9ff;
}

a {
  color: #b684ed;
}
