
@import 'styles/views.scss';

* {
    box-sizing: border-box; /* padding and border are included in total width/height of all elements */
    margin: 0px;
}

body {
    background-color: black;
    color: white;    
}

$bgColour1: #121212;
$bgColour2: #232323;
$bgColour3: #343434;
$fontColour: white;
$fontSize: calc(10px + 2vmin);

$red: #c8250e;
$orange: #df7233;
$yellow: #d6d950;
$green: #5fa638;
$blue: #7cc9ff;
$purple: #b684ed;

#webPage {
    background-color: $bgColour1;
    color: $fontColour;
    font-size: $fontSize;
    height: 100vh;
    display: flex;
    flex-direction: column;

    header, main, footer {
        padding: 1em;
    }

    header {
        background-color: $bgColour3;
    }
    
    main {
        flex: 1; /* to fill space between header and footer */
        background-color: $bgColour1;
    }
    
    footer {
        background-color: $bgColour2;
    }
}

#view1 {
    @include views($red);
}

#view2 {
    @include views($green);
}

#view3 {
    @include views($blue);
}

a {
    color: $purple;
}
