
@import 'styles/views.scss';
@import 'styles/scrollbar.scss';

$bgColour1: #121212;
$bgColour2: #232323;
$bgColour3: #343434;
$bgColour4: #454545;
$fontColour: white;
$fontSize: calc(10px + 2vmin);
$fontFamily: default;

$red: #c8250e;
$orange: #df7233;
$yellow: #d6d950;
$green: #5fa638;
$blue: #7cc9ff;
$purple: #b684ed;

* {
    box-sizing: border-box; /* padding and border are included in total width/height of all elements */
    margin: 0px;
    @include scrollbar(10px, $orange);
}

body {
    background-color: black;
    color: white;    
}

#webPage {
    background-color: $bgColour1;
    color: $fontColour;
    font-size: $fontSize;
    font-family: $fontFamily;
    height: 100vh;
    display: flex;
    flex-direction: column;

    header, main, footer {
        padding: 1em;
    }

    header {
        background-color: $bgColour3;
    }
    
    main {
        flex: 1; /* to fill space between header and footer */
        background-color: $bgColour1;
        overflow-y: auto;
    }
    
    footer {
        background-color: $bgColour2;
    }
}

button {
    background: $bgColour4;
    border: none;
    padding: 0.5em 1em;
}

button.selected {
    background: $yellow;
}

#view1 {
    @include views($red);
}

#view2 {
    @include views($green);
}

#view3 {
    @include views($blue);
}

a {
    color: $purple;
}

