<div id='tables'>
    <table>
        <caption>Table Caption</caption>
        <thead>
            <tr>
                <th>Heading 0</th>
                <th>Heading 1</th>
                <th>Heading 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
            </tr>
            <tr>
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
            </tr>
            <tr>
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>footer 0</td>
                <td>footer 1</td>
                <td>footer 2</td>
            </tr>
        </tfoot>
    </table>
</div>