<div id="view3">
    <h2>View 3</h2>
    <hr>
    <br>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nesciunt laboriosam ab cupiditate voluptas tempora delectus rem ut ipsa hic veritatis, consequuntur mollitia. Quisquam est neque mollitia quasi, optio asperiores!
    </p>
    <br>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nesciunt laboriosam ab cupiditate voluptas tempora delectus rem ut ipsa hic veritatis, consequuntur mollitia. Quisquam est neque mollitia quasi, optio asperiores!
    </p>
</div>